<p id="notice"><%= notice %></p>

<link href='http://fonts.googleapis.com/css?family=Montserrat' rel='stylesheet' type='text/css'>

<h1>Wynfood</h1>
<h2>This is your list of Restaurants</h2>
<br>
  <div>
    <% @restaurants.each do |restaurant| %>
      <div>

         <a href="#"><img src="http://gdurl.com/XmC2" alt="Arabian Knife" />
          <h3>Arabian Knife</h3></a>
      </div>
    <% end %>
  </div>

<br>

<%= link_to 'New Restaurant', new_restaurant_path %>
