/******************************************
              HEADER
******************************************/

header {
  height:50em;
}

body {
background: url("https://images.unsplash.com/photo-1430931071372-38127bd472b8?ixlib=rb-0.3.5&q=80&fm=jpg&crop=entropy&s=e38011b03de532fe2203de8e4696d357");
background-size: cover;
background-repeat: no-repeat;
width: 100%;
background-size: 100%;
}

 .home_title h1  {
  color: white;
  font-size: 150px;
  text-align: center;
}

.home_title hr {
  border-color: white;
}
.all_button {
  margin-top: 10px;
  margin-left: 220px;
  margin-bottom: 20px;
}

.all_button :hover {
  color: black;
}

.sort_text {
font-size: 50px;
color: white;
float: left;
margin-bottom: 30px;
}

.sort_button {
  margin-top: 25px;
  margin-left: 200px;
}

.sort_button :hover {
  color: black;
}

.sort_button_price {
  float:left;
  margin-right: 40px;
}
.sort_button_rating {
  margin-left: 110px;
}
.random_text {
  font-size: 30px;
  color: white;
  margin-top: 400px;
}

.random_button {
 margin-left: 225px;
}

.random_button :hover {
  color: black;
}

.diner_button {
  margin-top: 35px;
  margin-left: 225px;
}

.diner_button :hover {
  color: black;
}
/******************************************
              SECTION
******************************************/
/*section {
background-color: white;
height: 400px;
width: 100%;
}*/



/******************************************
              FOOTER
******************************************/

 /*footer {
  background-color: black;
  height: 500px;
  width: 100%;
  /*margin-top: 122em;*/




/******************************************
            NEW DINER'S
******************************************/

 h1,  .diner_title {
  color: white;
  font-size: 100px;
  text-align: center;
}

.actions {
font-size: 20px;
margin-bottom: 15px;
color: black;
}

.diner_input {
color: black;
}

.field {
  font-size: 20px;
  margin-bottom: 15px;
  color: white;
  margin-top: 25px;
  display: inline-block;
  margin-right: 20px;
  text-align: center;
}

.new_back {
  margin-right: 300px;
}

.back_hover :hover {
  color: black;
}

.actions :hover {
  color: black;
}

 /******************************************
              SHOW DINER'S
 ******************************************/

.asset_style {
  color: white;
  text-align: center;
  font-size: 15px;
  margin-right: 580px;
 }

.review {
  color: white;
  text-align: center;
}

.new_review {
color: white;
text-align: center;
}

.new_buttons {
 text-align: center;
}

.back_btn {
text-align: center;
}

.buttons {
  width: 100%;
  margin: 0 auto;
  display: table;
}

.half {
  width: 50%;
}
