// Place all the styles related to the Restaurants controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
a:hover img {
  -webkit-filter: brightness(50%);
  filter: brightness(50%);
}

div.caption {
    width:100%;
    bottom: .3rem;
    position: absolute;
    background: none;
    background: -webkit-linear-gradient(rgba(0, 0, 0, 0) 100%) repeat scroll 0 0 rgba(0, 0, 0, 0);
    background: -moz-linear-gradient(rgba(0, 0, 0, 0) 100%) repeat scroll 0 0 rgba(0, 0, 0, 0);
    background: -o-linear-gradient(rgba(0, 0, 0, 0) 100%) repeat scroll 0 0 rgba(0, 0, 0, 0);
    background: linear-gradient(rgba(0, 0, 0, 0) 100%) repeat scroll 0 0 rgba(0, 0, 0, 0);
}

div.thumbnail {
    border: 0 none;
    box-shadow: none;
    margin: auto;
    margin-top: 3em;
    padding:0;
    position: relative;
    overflow: hidden;
    padding-bottom: 67%; /* aspect ratio */
    float: inline;
}

div.thumbnail img {
  height: 100%;
  width: 100%;
  position: absolute;
}

div.caption h4 {
    color: white !important;
    -webkit-font-smoothing: antialiased;
}
